<div class="row-fluid">
	<div class="span3">
		<a href="http://agares.co">agares</a>
	</div>
	<div class="span3">
		<a href="http://twitter.com/woakas">woakas</a>
	</div>
	<div class="span3">
		<a href="http://twitter.com/app_config">app_config</a>
	</div>
	<div class="span3">
		<a href="http://david.roncancio.me">kuryaki</a>
	</div>
</div>
<div class="row-fluid">
		<h1 style="text-align: center;">Trabajamos en<a style="margin: 0 auto;" href="http://codetag.me">CodeTag</a></h1>
	
</div>