<h2>Como empezar?</h2>

<div class="row-fluid" id="guide">

  <div class="span12">
    <h2>Guia rapida</h2>
    <p>Esta guia rapida te llevara pasao a paso para que pongas tu nombre en el ranking del concurso.</p>
    <ol>
      <li><h3>Crear una cuenta</h3></li>
      <p>Crea una cuenta en la pagina de registro con tu nombre de campuseo y correo electronico</p>
      <li><h3>Inicia Sesión</h3></li>
      <p>Inicia sesión en la pagina y verifica tu token de identificaci&oacute;n, este ser&aacute; usado para participar.</p>
      <li><h3>Descarga un paquete de inicio</h3></li>
      <p>Elige y haz fork (o clona) uno de los diferentes bots de inicio alojados en github en el lenguaje que mas te guste. Ajusta las configuraciones de nombre y token de usuario.</p>
      <li><h3>Conecta el bot</h3></li>
      <p>Los bots se conectan por la red del Campus-Party, solo tienes que ejecutar el programa y este se conectar&aacute; a nuestro servidor. Entra a mis partidas y observa como vas avanzando en el ranking.</p>
      <li><h3>Listo!</h3></li>
      <p>Haz las modificaciones que necesites para hacer que tu bot sea el mejor bomber de todos, mientras mas te conectes al servidor mas podras evaluar el desempeño de tu bot.</p>
    </ol>
  </div>
</div>
<div class="row-fluid" id="makebot">

  <div class="span12" >
    <h3>Construir un bot</h3>
    
    <p>Para construir un bot siga los siguientes pasos y recomendaciones:</p>
    <ul>
      <li>El bot se debe conectar por un socket TCP al dominio www.bomberbot.com puerto 5000</li>
      <li>Se solicitará su usuario para esto debe colocar su usuario con el cual se registro dentro de www.bomberbot.com y el token que aparece en el perfil, separado por "," ejemplo <b>pepe,4fea6fc4051976501101000b</b></li>
      <li>El socket no debe desconectarse en ningún momento o perderá su partida.</li>
    </ul>

    <p>El equipo de <a href="http://www.codetag.me">Codetag</a> ha desarrollado algunos bots de ejemplo para su uso los cuales se listan a continuación:</p>
    <ul>
      <li><b>Python:</b>a<a href="https://github.com/CodeTag/pyBot">https://github.com/CodeTag/pyBot</a></li>
      <li><b>Ruby:</b>a<a href="https://github.com/CodeTag/rubyBot">https://github.com/CodeTag/rubyBot</a></li>
      <li><b>Visual Basic:</b><a href="https://github.com/CodeTag/vbBot">https://github.com/CodeTag/vbBot</a></li>
      <li><b>C#</b><a href="https://github.com/CodeTag/cSharpBot">https://github.com/CodeTag/cSharpBot</a></li>
      <li><b>Java</b><a href="https://github.com/CodeTag/javabotClient">https://github.com/CodeTag/javabotClient</a></li>
      <li><b>NodeJs</b><a href="https://github.com/CodeTag/nodejsbbotClient">https://github.com/CodeTag/nodejsbbotClient</a></li>
    </ul>
    
    <p>Estos clientes básicos son usables y su usted desea usarlos como partida para construir los suyos es permitido, adicionalmente si usted desea ayudar al desarrollo de alguno de estos por favor realice un fork del proyecto en github y luego de haber realizado sus cambios realice un pull request para poder aceptar sus cambios.</p>

    
  </div>
</div> 
<div class="row-fluid" id="rules">

  <div class="span12" >
    <h3>Reglas del concurso</h3>
    
  </div>
</div> 
<div class="row-fluid" id="tools">

  <div class="span12">
    <h3>Herramientas Disponibles</h3>

  </div>
</div> 
