  <canvas id="tablero" width="850px" height="700px" style="background-color:#000;" style="float:left;">
    <p>what the fuck browser are you using??</p>
  </canvas>
  <div style="float:right;color:#FFF;">
    <label for ="velocidad">velocidad</label>
    <input id="velocidad" type="range"  min="2" max="48" value="20" onchange="cambiarVelocidad(50-this.value)"/>
  <div style="float:right;">