<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bomberbot challenge </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI challenge for Campus Party - Bomberbot">
    <meta name="author" content="codetag.me"

    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!--
    <script src="javascripts/bot.js" ></script>
    <script src="javascripts/visualizer.js" ></script>
    --!>

</head>

<body>
  <%- body %>
</body>

</html>