<div class="alert alert-block">
  <h4 class="alert-heading">¡ATENCI&Oacute;N!</h4>
  <br>
  Los puntajes que ustedes ven son solo de entrenamiento y no indican nada para la premiacion, hacen parte
  de el entrenamiento de sus robots
</div>

<table class="table">
  <thead>
    <tr>
      <th>Posicion</th>
      <th>Usuario</th>
      <th>Puntos</th>
      <th>Partidas</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
    <tr>
      <td>1</td>
      <td><%= user.get('username') %></td>
      <td><%= user.score %></td>
      <td><%= user.plays %></td>
    </tr>
    <% }) %>
  </tbody>
</table>